@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full;
}

@layer base {
  :root {
    --background: 240 95% 7%;
    --foreground: 0 0% 100%;

    --card: 240 85% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 240 85% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 44 84% 53%;
    --primary-foreground: 240 95% 7%;

    --secondary: 274 53% 26%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 45% 15%;
    --muted-foreground: 220 15% 70%;

    --accent: 274 53% 32%;
    --accent-foreground: 44 84% 53%;

    --destructive: 0 75% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 274 40% 30%;
    --input: 274 40% 30%;
    --ring: 44 84% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 95% 7%;
    --foreground: 0 0% 100%;

    --card: 240 85% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 240 85% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 44 84% 53%;
    --primary-foreground: 240 95% 7%;

    --secondary: 274 53% 26%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 45% 15%;
    --muted-foreground: 220 15% 70%;

    --accent: 274 53% 32%;
    --accent-foreground: 44 84% 53%;

    --destructive: 0 75% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 274 40% 30%;
    --input: 274 40% 30%;
    --ring: 44 84% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
